<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta http-equiv="X-UA-Compatible" content="ie=edge" />
  <title>webSockrt</title>
  <script src="page/assets/js/vue.js"></script>
  <style>
    [v-cloak]{
      display: none !important;
    }
    .worring{
      text-align: center;
      color: red;
      font-weight: bold;
      font-size: 1.2rem;
    }
    img{
      width: 32px;
      height: 32px;
    }
  </style>
</head>

<body>
  <div id="app" v-cloak>
    <section>
      <button @click="websocketsend()">Send</button>
    </section>
    <section>
      <div class="worring">
        <pre>{{message}}</pre>
      </div>
      <div class="styleOne">
        <img src="../assets/img/hourglass.png" alt="">
        <span v-if="!message">Up Time: {{nowTime}}</span>
        <span v-else>Up Time: None</span>
      </div>
      <div v-for="item in list">
        {{item.purpose}} - {{item.hostname}} - {{item.device_id}}
      </div>
    </section>
  </div>
  
  <script>
    vm = new Vue({
      data: () => ({
       websock:null,
       readyState:null,
       nowTime:null,
       list: null,
       time: null,
       message:""
     }),
      created(){
        this.initWebSocket();
      },
      destroyed() {
        this.websock.close()
      // 離開路由後斷開 websocket 連結
    },
    methods:{
      initWebSocket(){
        const wsurl = 'ws://localhost:3000';
        this.websock = new WebSocket(wsurl);
        this.readyState = this.websock.readyState;
        this.websock.onopen = this.websocketonopen;
        this.websock.onerror = this.websocketonerror;
        this.websock.onclose = this.websocketclose;
        this.websock.onmessage = this.websocketonmessage
        this.message = ''
      },
      // 連結建立之後執行 send 方法發送數據
      websocketonopen(e){
        console.log("WebSocket is open now from FrontEnd.");
        this.websock.send('FrontEnd send to BackEnd')
      }, 
      // 連結建立失敗重連
      websocketonerror(){
       this.initWebSocket();
       this.message = '';
     },
      // 數據接收
      websocketonmessage(e){
        console.log(e.data)
        let result = e.data
        this.message = result
      },
      // 數據發送
      websocketsend(){
        let data = {name:"166"}
        let str = JSON.stringify(data)
        this.websock.send(str)
      },
      // 關閉
      websocketclose(e){
        this.message = '請求失敗處理\n請確認伺服器是否正常運作'
      }
    },
    mounted() {
    }
  }).$mount("#app");
</script>
</body>

</html>